[Desktop Entry]
Type=Application
Name=Hyprland Settings
GenericName=Hyprland Settings
Comment=A native GTK4/libadwaita settings app for Hyprland
Exec=hyprmod
Icon=io.github.bluemancz.hyprmod
Terminal=false
Categories=Settings;DesktopSettings;GTK;
Keywords=hyprland;compositor;wayland;configuration;monitors;keybinds;
StartupNotify=true
StartupWMClass=io.github.bluemancz.hyprmod
