@keyframes blink
{
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

* {
    font-family: "System-ui";
    font-weight: 700;
    font-size: 14px;
}

#waybar {
    background: rgba(0, 0, 0, 0);
}

/* Left */

#cpu {
    margin-left: 15px;
    color: rgba(150, 230, 255, 1);
    transition-duration: 1000ms;
}
#cpu.low {
    color: rgba(150, 255, 120, 1);
}
#cpu.medium {
    color: rgba(255, 230, 120, 1);
}
#cpu.high {
    color: rgba(255, 200, 120, 1);
}
#cpu.very_high {
    color: rgba(255, 120, 120, 1);
}
#cpu.extremely_high {
    color: rgba(255, 60, 60, 1);
}
#cpu:hover {
    color: rgba(255, 255, 255, 0.7);
    transition-duration: 100ms;
}
#custom-recording {
    color: rgba(255, 60, 60, 1);
    margin-left: 10px;
    animation-name: blink;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
#battery {
    margin-left: 10px;
    font-size: 16px;
    transition-duration: 100ms;
}
#battery:hover { color: rgba(255, 255, 255, 0.7); }

#tray { margin-left: 10px; }

/* Center */

#taskbar {
    margin: 0px 5px;
    border-radius: 99px;
    background: rgba(0, 0, 0, 0.2);
}
#taskbar button {
    min-height: 0px;
    margin: 0px -1px;
    padding: 0px 3px;
    transition-duration: 200ms;
    background: rgba(0, 0, 0, 0);
}
#taskbar button.active, 
#taskbar button:hover {
    margin: 0px 3px;
    border: 1px solid rgba(255, 255, 255, 0.5);
}
#taskbar > button:first-child {
    margin-left: 0px;
    padding-left: 3px;
}
#taskbar > button:last-child {
    margin-right: 0px;
    padding-right: 3px;
}

#workspaces {
    margin: 0px 5px;
    background: rgba(0, 0, 0, 0);
    border-radius: 99px;
    border-top: 1.5px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1.5px solid rgba(255, 255, 255, 0.1);
    border-left: none;
    border-right: none;
    box-shadow: inset 0 0 0 15px rgba(0, 0, 0, 0.7);
}
#workspaces button {
    min-height: 0px;
    margin: 2px 2px;
    padding: 0px 0px;
    transition-duration: 200ms;
    border-radius: 999px;
}
#workspaces button:hover,
#workspaces button.visible {
    background: rgba(255, 255, 255, 0.1);
    padding: 0px 8px;
}

#center-icons {
    border-top: 1.5px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1.5px solid rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 0 0 15px rgba(0, 0, 0, 0.7);
    border-radius: 99px;
    margin-left: 5px;
}
#center-icons > widget > * {
    padding-left: 6px;
    padding-right: 6px;
    margin: 2px;
    transition-duration: 200ms;
    border-radius: 99px;
    font-size: 13px;
}
#center-icons > widget > *:hover {
    padding-left: 14px;
    padding-right: 14px;
    background: rgba(255, 255, 255, 0.17);
}

/* Dim some icons based on their state */
#idle_inhibitor.activated { color: rgba(255, 255, 255, 0.3); }
#pulseaudio.muted { color: rgba(255, 255, 255, 0.3); }
#network.disconnected,
#network.disabled { color: rgba(255, 255, 255, 0.3); }
#bluetooth.disabled,
#bluetooth.off { color: rgba(255, 255, 255, 0.3); }

/* Right */

#clock {
    padding-left: 10px;
    margin-right: 15px;
    font-family: System-ui;
    font-weight: 400;
    font-size: 16px;
    transition-duration: 100ms;
}
#clock:hover { color: rgba(255, 255, 255, 0.7); }
